<IfModule mod_rewrite.c>


# Tell PHP that the mod_rewrite module is ENABLED.

SetEnv HTTP_MOD_REWRITE On

Options FollowSymLinks

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

# The rest of your rewrite rules here

# RewriteRule ^/~([^/]+)/?(.*) /u/$1/$2 [R]


RewriteRule ([^/]+)/?$ index.php?id=$1 [NC,L]


#RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)/?$ index.php?c=$1&d=$2 [NC,L]

# Handle product requests


</IfModule>

